# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.venv/
venv/
env/

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Local data
samples/*
!samples/.gitkeep
output/*
!output/.gitkeep
FaceIQ_Resultats/

# OS
.DS_Store
Thumbs.db
